openapi: 3.0.3
info:
  title: AutogenSocial API
  version: 1.0.0
  description: OpenAPI specification for the AutogenSocial API. This file references all modular components and operations.
  license:
    name: MIT
    url: https://opensource.org/license/mit/
servers:
  - url: https://autogensocial-api.1084ventures.com
security:
  - bearerAuth: []
paths:
  /media:
    get:
      operationId: listMedia
      summary: List media by brandId
      parameters:
        - name: brand_id
          in: query
          required: true
          schema:
            type: string
        - $ref: ./components/parameters/pagination.yaml
      responses:
        '200':
          description: List of media for a brand
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./components/schemas/api/internal/media/MediaGet.yaml
        '400':
          $ref: ./components/responses/BadRequest.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
    post:
      operationId: createMedia
      summary: Create a new media item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components/schemas/api/internal/media/MediaCreate.yaml
      responses:
        '201':
          description: Media created
          content:
            application/json:
              schema:
                $ref: ./components/schemas/api/internal/media/MediaGet.yaml
        '400':
          $ref: ./components/responses/BadRequest.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
  /media/{id}:
    get:
      operationId: getMediaById
      summary: Get a media item by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Media item details
          content:
            application/json:
              schema:
                $ref: ./components/schemas/api/internal/media/MediaGet.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '404':
          $ref: ./components/responses/NotFound.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
    put:
      operationId: updateMediaById
      summary: Update a media item by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components/schemas/api/internal/media/MediaUpdate.yaml
      responses:
        '200':
          description: Media item updated
          content:
            application/json:
              schema:
                $ref: ./components/schemas/api/internal/media/MediaGet.yaml
        '400':
          $ref: ./components/responses/BadRequest.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '404':
          $ref: ./components/responses/NotFound.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
    delete:
      operationId: deleteMediaById
      summary: Delete a media item by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Media item deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  id:
                    type: string
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '404':
          $ref: ./components/responses/NotFound.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
  /media/analyze:
    post:
      operationId: analyzeMedia
      summary: Analyze a media file (image or video)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imageBase64:
                  type: string
                  description: Base64-encoded image data
      responses:
        '200':
          description: Analysis results for the media file
          content:
            application/json:
              schema:
                $ref: ./components/schemas/api/internal/media/MediaAnalyze.yaml
        '400':
          $ref: ./components/responses/BadRequest.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
  /content-generation-templates:
    get:
      operationId: listContentGenerationTemplates
      summary: List content generation templates by brandId
      parameters:
        - name: brand_id
          in: query
          required: true
          schema:
            type: string
        - $ref: ./components/parameters/pagination.yaml
      responses:
        '200':
          description: List of content generation templates for a brand
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./components/schemas/api/internal/content-generation-template/ContentGenerationTemplateGet.yaml
        '400':
          $ref: ./components/responses/BadRequest.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
    post:
      operationId: createContentGenerationTemplate
      summary: Create a new content generation template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components/schemas/api/internal/content-generation-template/ContentGenerationTemplateCreate.yaml
      responses:
        '201':
          description: Content generation template created
          content:
            application/json:
              schema:
                $ref: ./components/schemas/api/internal/content-generation-template/ContentGenerationTemplateResponse.yaml
        '400':
          $ref: ./components/responses/BadRequest.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
  /content-generation-templates/{id}:
    get:
      operationId: getContentGenerationTemplateById
      summary: Get a content generation template by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Content generation template details
          content:
            application/json:
              schema:
                $ref: ./components/schemas/api/internal/content-generation-template/ContentGenerationTemplateGet.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '404':
          $ref: ./components/responses/NotFound.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
    patch:
      operationId: updateContentGenerationTemplateById
      summary: Update a content generation template by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components/schemas/api/internal/content-generation-template/ContentGenerationTemplateUpdate.yaml
      responses:
        '200':
          description: Content generation template updated
          content:
            application/json:
              schema:
                $ref: ./components/schemas/api/internal/content-generation-template/ContentGenerationTemplateResponse.yaml
        '400':
          $ref: ./components/responses/BadRequest.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '404':
          $ref: ./components/responses/NotFound.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
    delete:
      operationId: deleteContentGenerationTemplateById
      summary: Delete a content generation template by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Content generation template deleted
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '404':
          $ref: ./components/responses/NotFound.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
  /brands:
    get:
      summary: List brands by userId
      operationId: listBrandsByUserId
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
        - $ref: ./components/parameters/pagination.yaml
      responses:
        '200':
          description: List of brands for a user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./components/schemas/api/internal/brand/BrandGet.yaml
        '400':
          $ref: ./components/responses/BadRequest.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
    post:
      summary: Create a new brand
      operationId: createBrand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components/schemas/api/internal/brand/BrandCreate.yaml
      responses:
        '201':
          description: Brand created
          content:
            application/json:
              schema:
                $ref: ./components/schemas/api/internal/brand/BrandResponse.yaml
        '400':
          $ref: ./components/responses/BadRequest.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
  /brands/{id}:
    get:
      summary: Get a brand by ID
      operationId: getBrandById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Brand details
          content:
            application/json:
              schema:
                $ref: ./components/schemas/api/internal/brand/BrandGet.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '404':
          $ref: ./components/responses/NotFound.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
    patch:
      summary: Update a brand by ID
      operationId: updateBrandById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./components/schemas/api/internal/brand/BrandUpdate.yaml
      responses:
        '200':
          description: Brand updated
          content:
            application/json:
              schema:
                $ref: ./components/schemas/api/internal/brand/BrandResponse.yaml
        '400':
          $ref: ./components/responses/BadRequest.yaml
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '404':
          $ref: ./components/responses/NotFound.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
    delete:
      summary: Delete a brand by ID
      operationId: deleteBrandById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Brand deleted
        '401':
          $ref: ./components/responses/Unauthorized.yaml
        '404':
          $ref: ./components/responses/NotFound.yaml
        '429':
          $ref: ./components/responses/RateLimitExceeded.yaml
  /external/post-instagram-content:
    post:
      summary: Post Instagram content
      operationId: postInstagramContent
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
components:
  schemas:
    MediaDocument:
      $ref: ./components/schemas/documents/MediaDocument.yaml
    ContentGenerationTemplateDocument:
      $ref: ./components/schemas/documents/ContentGenerationTemplateDocument.yaml
    BrandDocument:
      $ref: ./components/schemas/documents/BrandDocument.yaml
    TemplateSettings:
      $ref: ./components/schemas/common/template/TemplateSettings.yaml
    TemplateInfo:
      $ref: ./components/schemas/common/template/TemplateInfo.yaml
    PromptVariable:
      $ref: ./components/schemas/common/template/PromptVariable.yaml
    PromptTemplate:
      $ref: ./components/schemas/common/template/PromptTemplate.yaml
    VisualStyleObj:
      $ref: ./components/schemas/common/style/VisualStyleObj.yaml
    VisualStyle:
      $ref: ./components/schemas/common/style/VisualStyle.yaml
    TextStyle:
      $ref: ./components/schemas/common/style/TextStyle.yaml
    OverlayBox:
      $ref: ./components/schemas/common/style/OverlayBox.yaml
    Outline:
      $ref: ./components/schemas/common/style/Outline.yaml
    Fonts:
      $ref: ./components/schemas/common/style/Fonts.yaml
    Font:
      $ref: ./components/schemas/common/style/Font.yaml
    Alignment:
      $ref: ./components/schemas/common/style/Alignment.yaml
    SocialAccountEntry:
      $ref: ./components/schemas/common/social/SocialAccountEntry.yaml
    SocialAccount:
      $ref: ./components/schemas/common/social/SocialAccount.yaml
    Platform:
      $ref: ./components/schemas/common/social/Platform.yaml
    TimeSlot:
      $ref: ./components/schemas/common/schedule/TimeSlot.yaml
    Schedule:
      $ref: ./components/schemas/common/schedule/Schedule.yaml
    Video:
      $ref: ./components/schemas/common/media/Video.yaml
    MultiImage:
      $ref: ./components/schemas/common/media/MultiImage.yaml
    MediaType:
      $ref: ./components/schemas/common/media/MediaType.yaml
    MediaMetadata:
      $ref: ./components/schemas/common/media/MediaMetadata.yaml
    Image:
      $ref: ./components/schemas/common/media/Image.yaml
    Rectangle:
      $ref: ./components/schemas/common/cognitive/Rectangle.yaml
    CognitiveTag:
      $ref: ./components/schemas/common/cognitive/CognitiveTag.yaml
    CognitivePerson:
      $ref: ./components/schemas/common/cognitive/CognitivePerson.yaml
    CognitiveObject:
      $ref: ./components/schemas/common/cognitive/CognitiveObject.yaml
    CognitiveDenseCaption:
      $ref: ./components/schemas/common/cognitive/CognitiveDenseCaption.yaml
    CognitiveData:
      $ref: ./components/schemas/common/cognitive/CognitiveData.yaml
    CognitiveCategory:
      $ref: ./components/schemas/common/cognitive/CognitiveCategory.yaml
    CognitiveCaption:
      $ref: ./components/schemas/common/cognitive/CognitiveCaption.yaml
    CognitiveBrand:
      $ref: ./components/schemas/common/cognitive/CognitiveBrand.yaml
    Text:
      $ref: ./components/schemas/common/base/Text.yaml
    Metadata:
      $ref: ./components/schemas/common/base/Metadata.yaml
    Error:
      $ref: ./components/schemas/common/base/Error.yaml
    ContentType:
      $ref: ./components/schemas/common/base/ContentType.yaml
    ContentItem:
      $ref: ./components/schemas/common/base/ContentItem.yaml
    BrandInfo:
      $ref: ./components/schemas/common/base/BrandInfo.yaml
    BaseModel:
      $ref: ./components/schemas/common/base/BaseModel.yaml
    MediaUpdate:
      $ref: ./components/schemas/api/internal/media/MediaUpdate.yaml
    MediaGet:
      $ref: ./components/schemas/api/internal/media/MediaGet.yaml
    MediaCreate:
      $ref: ./components/schemas/api/internal/media/MediaCreate.yaml
    MediaAnalyze:
      $ref: ./components/schemas/api/internal/media/MediaAnalyze.yaml
    ContentGenerationTemplateUpdate:
      $ref: ./components/schemas/api/internal/content-generation-template/ContentGenerationTemplateUpdate.yaml
    ContentGenerationTemplateResponse:
      $ref: ./components/schemas/api/internal/content-generation-template/ContentGenerationTemplateResponse.yaml
    ContentGenerationTemplateGet:
      $ref: ./components/schemas/api/internal/content-generation-template/ContentGenerationTemplateGet.yaml
    ContentGenerationTemplateCreate:
      $ref: ./components/schemas/api/internal/content-generation-template/ContentGenerationTemplateCreate.yaml
    BrandUpdate:
      $ref: ./components/schemas/api/internal/brand/BrandUpdate.yaml
    BrandResponse:
      $ref: ./components/schemas/api/internal/brand/BrandResponse.yaml
    BrandGet:
      $ref: ./components/schemas/api/internal/brand/BrandGet.yaml
    BrandCreate:
      $ref: ./components/schemas/api/internal/brand/BrandCreate.yaml
  parameters:
    pagination:
      $ref: ./components/parameters/pagination.yaml
  responses:
    Unauthorized:
      $ref: ./components/responses/Unauthorized.yaml
    RateLimitExceeded:
      $ref: ./components/responses/RateLimitExceeded.yaml
    NotFound:
      $ref: ./components/responses/NotFound.yaml
    BadRequest:
      $ref: ./components/responses/BadRequest.yaml
  securitySchemes:
    bearerAuth:
      $ref: ./components/securitySchemes/bearerAuth.yaml
    apiKeyAuth:
      $ref: ./components/securitySchemes/apiKeyAuth.yaml
